* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.bg-silver {
    background-color: silver;
}

h1 {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.flex-left {
    display: flex;
    align-items: flex-start;
}

.border {
    border-style: solid;
}