* {
    box-sizing: border-box;
}

:root {
    --primary: silver;
    --secondary: grey;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.bg-silver {
    background-color: silver;
}

h1 {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.searchContainer {
    height: 300px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: var(--secondary);
}

.border {
    border-style: solid;
}

.future-cast {
    height: 150px;
    width: 5px;
    padding: 20px;
    margin: 10px;
    background-color: silver;
}

.hidden {
    display: none;
}